    <div id="landing" class="container tab-pane active">
        
                                    <div id="fb-root"></div>
                                    <script>
                                            window.fbAsyncInit = function () {
                                                FB.init({
                                                    appId: '251449435024323',
                                                    status: true, // check login status
                                                    cookie: true, // enable cookies to allow the server to access the session
                                                    xfbml: true, // parse XFBML
                                                    oauth: true
                                                })


                                                FB.Event.subscribe('auth.authResponseChange', function (response) {
                                                    // Here we specify what we do with the response anytime this event occurs. 
                                                    if (response.status === 'connected') {

                                                    } else if (response.status === 'not_authorized') {

                                                    } else {

                                                    }
                                                })
                                            };

                                            // Load the SDK asynchronously
                                            (function (d) {
                                                var js, id = 'facebook-jssdk',
                                                    ref = d.getElementsByTagName('script')[0]
                                                if (d.getElementById(id)) {
                                                    return
                                                }
                                                js = d.createElement('script')
                                                js.id = id;
                                                js.async = true
                                                js.src = "//connect.facebook.net/en_US/all.js"
                                                ref.parentNode.insertBefore(js, ref)
                                            }(document))

                                    </script>

                                    <p>Ice Cream Island</p>
                                    <p><a id="play_button" href="#">Play Game</a></p>

    </div>









    <div id="current_stage" class="container tab-pane">
       <a href="#" class='level level00'>O</a>
       <a href="#" class='level level01'>O</a>
       <a href="#" class='level level02'>O</a>
       <a href="#" class='level level03'>O</a>
       <a href="#" class='level level04'>O</a>
       <a href="#" class='level level05'>O</a>
       <a href="#" class='level level06'>O</a>
       <a href="#" class='level level07'>O</a>
    </div>








    <div id="game-panel" class="tab-pane">

       <TABLE id="landscape" WIDTH=100% height=100% CELLPADDING=4 CELLSPACING=0>

        <TR VALIGN=TOP>
         <TD class="goal" WIDTH=25 height=50% STYLE="">

         </TD>
         <TD class="board" ROWSPAN=2 WIDTH=50% STYLE="">

         </TD>
     </TR>
     <TR VALIGN=TOP>
         <TD class="stats" WIDTH=25% STYLE="">

         </TD>
     </TR>
 </TABLE>

 <TABLE id="portrait" WIDTH=100% height=100% CELLPADDING=4 CELLSPACING=0>

    <TR VALIGN=TOP>
     <TD class="goal" WIDTH=50% height=25% STYLE="">

     </TD>
     <TD class="stats" WIDTH=50% height=25% STYLE="">

     </TD>
 </TR>
 <TR>
     <TD class="board" COLSPAN=2 WIDTH=100% height=100% VALIGN=TOP STYLE="">

     </TD>
 </TR>
</TABLE>








<div id="goal_board">
<table id="goal_board_table">
    <tbody>
        <tr>
            <td id="0" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="1" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="2" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="3" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="4" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="5" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
    </tbody>
</table>
</div>








<div id="stats">
<p id="seconds">Seconds: <span id="timer"></span></p>
<p id="moves">Moves: <span id="move_count"></span>/<span id="par"></span></p>
</div>






<div id="game_board">
<table id="game_board_table" class="unselectable">
    <tbody>
        <tr>
            <td id="0" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="1" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="2" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="3" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="4" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td id="5" class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
        <tr>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
            <td class="cell"><img src="assets/blank.png" class="img-responsive cell-image" /></td>
        </tr>
    </tbody>
</table>
</div>




</div>

